body {
	background:#000;
}

p {
	color:#ccc;
}

li {
	color:#ccc;
	transition:2s;
}

input[name=searchbar] {
	background-color:#888;
	color:#ccc;
}

input[type=button] {
    background-color:#333;
    color:#888;
}

/* .tablist {
	scrollbar-highlight-color: #ccc;
	scrollbar-face-color: #666;
	scrollbar-arrow-color: #ccc;
} */

.tabList a:hover {
	background-color:#888;
	color:#000;
}

.tabList a .active {
	background-color:#9c0;
	color:#000;
	transition:0.5s;
}

.wrapper {
	background:#333;
}
 
.tabs a {
	color:#f90;
}

.tabs .activeCurrent {
	background: #9c0;
	color: #000; 
	transition:0.2s;
}


.smallheader {
	background:#666;
	
}

#modalbox {
	color:#fff;
	background-color:#333;
	border-color:#f90;
}