/* 09f - NMi's blue */

body {
	font-family:"Trebuchet MS",Monaco,sans-serif;
	margin:0;
	padding:0;
	position:relative;
	background:#fff;
}

p {
	padding:0;
	margin:0;
}

ul {
	margin:0;
	padding:0;
	max-height:400px;
}

li {
	transition:1s;
	text-decoration:none;
	display:block;
	margin-left:4px;
}

form {
	padding:4px;
}

/* Class selectors */

.wrapper {
	width:1280px;
	padding:0 4px;
	margin:auto;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	background:#fff;
	min-height:100%;
}

.bigbox {
	width:970px;
	height:636px;
	display:block;
	border:1px solid black;
	margin-top:4px;
}

.smallbox {
	width:300px;
	height:353px;
	display:block;
	border:1px solid black;
	margin-top:4px;
}

.smallheader {
	border-bottom:1px solid black;
	margin:0;
	padding:8px;
	background:#eee;
	height:18px;
}

.buttonsbox {
	margin:8px;
}

input[name=searchbar] {
	background-image:url('..\\img\\search.bmp');
	background-position:1px 1px;
    background-repeat:no-repeat;
	float:right;
	border: 1px solid #000;
	width:0px;
	padding-left:19px;
	font-family:"Trebuchet MS",Monaco,sans-serif;
	transition:width 0.2s;
}

input[name=searchbar]:focus {
	width:45%;
}

.tabs .activeCurrent {
	background:#09f;
	color:#fff;
	transition:0.2s;
}

.tabs a:link {
	display:inline;
	border:0px;
	border-bottom:3px;
	border-style:solid;
	padding:5px;
	font-weight:bold;
}

.tabList {
	overflow:hidden;
	overflow-y:scroll;
	height:calc(100% - 35px); /*The best ability of css ever, end of*/
}

a:link {
	display:block;
	text-decoration:none;
	color:inherit;
}

a:visited {
	color:inherit;
}

.tabList a:hover {
	background-color:#eee;
}

.tabList a .active  {
	background-color:#09f;
	color:#fff;
	transition:0.2s;
}

/* ID selectors */

#sideboxes {
	width: 302px;
	float: left;
}
#rightboxes{
	width: 972px;
	float: right;
}

#buttonsbox {
	width:970px;
	height:70px;
	display:block;
	border:1px solid black;
	margin-top:4px;
}

#modalbox {
	display:none;
	float:middle;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:320px;
	height:120px;
	text-align:center;
	background-color:#fff;
	border-color:#000;
	border-style:outset;
	padding:8px;
}

#popup {
	display:none;
	float:top;
	top:0px;
	left:0px;
	position:fixed;
	width:500px;
	height:500px;
	text-align:center;
	background-color:#000;
	color:#fff;
	border-color:#000;
	border-style:outset;
	padding:8px;
}

/* clearfix */
.clear {
	clear:both;
}